*{
	
}

body{
	
}

ul{
	
	
	
}

.nav{
	font-family:'Impact', sans-serif;
	text-align:center;
	background-image: url("file://C:/Users/RaoulSoans/html_workspace/39973309-seattle-wallpapers.jpg");
}

#Nav{
	list-style-type: none;
}